@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

body, html {
    @apply bg-black text-zinc-300
}

body {
    @apply h-screen
}

input {
    @apply mb-2 px-3 py-2 rounded outline-none border-2 bg-zinc-800 border-zinc-700;
    @apply focus:border-green-400 focus:border-solid ;
}

button, [type='button'], [type='reset'], [type='submit'] {
    @apply block px-3 py-2 rounded outline-none border-2 bg-green-500 border-green-500 text-white;
}